---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Início">
	<main class="flex items-center justify-center flex-1">
		<p class="text-center text-gray-100 w-[360px]">
			Você ainda não registrou nenhuma lembrança, comece a criar agora!
		</p>
	</main>
</Layout>
