---
import { Icon } from "astro-icon";
---

<a href="/memories" class="group flex items-center gap-4">
  <div class="h-10 w-10 rounded-full bg-gray-400 p-2">
    <Icon name="ph:user" class="h-full w-full text-gray-500" />
  </div>
  <p class="w-[140px] text-sm transition group-hover:text-gray-50">
    Crie sua conta e salve suas memórias!
  </p>
</a>
